@import 'tailwindcss';


@font-face {
  font-family: "fair";
  src: url("/fonts/Playfair-Display.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "fair3";
  src: url("/fonts/Playfair-Display.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "fair2";
  src: url("/fonts/ItalicPlayfair.ttf");
}

@theme {
  --font-fair: "fair";
  --font-fair2: "fair2";
  --font-fair3: "fair3";
  
}

html,
body {
    width: 100%;
    background-color: grey;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font-fair3)
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-fair text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }
    }
  }